@import 'main';

@import 'components/buttons';
@import 'components/headline';
@import 'components/menu';
@import 'components/socials';
@import 'components/section';

@import 'partials/footer';
@import 'partials/header';

@import 'sections/section-intro';
@import 'sections/section-full-video';
@import 'sections/section-classes';
@import 'sections/section-teachers';
@import 'sections/section-pratice';
@import 'sections/section-testimony';
@import 'sections/section-videos';
@import 'sections/section-reach-us';