footer {
    margin-top: 1em;
    padding: 3em 0;
    background-color: #0059d4;
    color: #fff;

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer-inner {
        display: flex;
        
    }

    .socials {
        margin-left: 0;
        li {
            a {
                text-decoration: none;
                border-color: #fff;
                color: #fff;
            }
        }
    }

    .col-1 {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > a {
            display: inline-block;
            width: 70%;
            img {
                width: 100%;
            }
        }
    }
    .col-2, .col-3 {
        flex: 1;

        h5 {
            margin: 2em 0 2em;
            text-transform: uppercase;
            font-size: 1em;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin: 0.5em 0;
                a {
                    font-weight: 200;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        .footer-inner {
            flex-direction: column;
        }

        .socials {
            margin-top: 1em;
        }

        .col-2, .col-3 {
            h5 {
                margin-bottom: 1em;
            }
        }
    }
}