.section-full-video {
    text-align: center;
    color: #0059d4;

    .headline {
        text-transform: uppercase;
    }

    .content-text {
        line-height: 1.3;
    }

    .player-video {
        position: relative;
        margin: 3em 0 0;
        height: 100vh;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($color: #0059d4, $alpha: 0.3);
        }

        img {
            width: 100%;
        }

        .btn-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 10em;
        }
    }
}

@media screen and (max-width: 600px) {
    .section-full-video {

        .player-video {
            height: auto;

            .btn-play {
                font-size: 6em;
            }
        }
    }
}