.section-pratice {
    .headline, .content-text {
        margin: 0;
    }

    .content-text {
        line-height: 1.3;
    }

    .btn {
        margin-top: 2em;
    }
}

@media screen and (max-width: 600px) {
    .section-pratice {
        .content-text {
            margin-top: 2em;
        }
    }
}