.section-intro {
    margin-top: 0;
    
    .section-inner {
        position: relative;
    }

    .yogar {
        position: absolute;
        top: 1em;
        left: 0;
        width: 29em;

        img {
            width: 100%;
        }

        .socials {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 30%;
                width: 7em;
                height: 1px;
                background-color: #0059d4;
            }
        }
    }
    .intro-text {
        margin-left: 22em;
        padding-right: 3em;
        height: 35em;
        background-image: url('../images/bg-intro.png');
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100% 100%;
        text-align: right;

        h1, h2, p {
            margin: 0 0 0 auto;
            width: 65%;
            font-weight: normal;
            color: #fff;
        }
        h1 {
            padding-top: 1.4em;
            // padding-right: 1.5em;
            font-size: 6em;
            
        }
        h2 {
            margin-top: 2em;
            font-size: 1.5em;
            text-transform: uppercase;
        }
        p {
            margin-top: 1em;
            line-height: 1.3;
        }
        .btn {
            display: inline-block;
            margin-top: 2em;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 600px) {
    .section-intro {
        .yogar {
            position: static;
            width: auto;
        }
        .intro-text {
            margin-left: 0;
            padding-right: 1em;
            height: 37em;
        }
    }
}