.section-classes {
    .headline {
        text-align: center;
    }

    ul {
        display: flex;
        margin: 0 -1em;
        padding: 0;
        list-style: none;

        li {
            flex: 1;
            margin-left: 1em;
            margin-right: 1em;
            width: 33.3333%;
        }
    }

    .class-item {
        position: relative;
        text-align: left;
        color: #fff;

        &::after {
            content: '';
            position: absolute;
            top: 21em;
            left: 0;
            right: 0;
            height: 16em;
            background-image: url('../images/bg-classes.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center top;
        }

        figure {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 1em 0 3em;
            height: 25em;
            background-color: #eef5ff;
            text-align: center;

            img {
                object-fit: contain;
                object-position: center;
                max-width: 100%;
                max-height: 100%;
            }
        }

        .info {
            position: relative;
            z-index: 1;
            margin-top: -1em;
            padding: 0 1.5em;
            font-weight: 200;
        }

        h3, p {
            text-align: center;
        }

        h3 {
            margin: 0 0 1em;
            text-transform: uppercase;
        }

        p {
            line-height: 1.3;
            
        }

        a {
            display: inline-block;
            margin-top: 2em;
            margin-left: 3em;
            text-decoration: none;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .section-classes {
        ul {
            display: block;
            margin: 0;

            li {
                margin: 2em 0;
                width: auto;
            }
        }
        .class-item {
            &::after {
                top: 15em;
                background-size: 100% 16em;
            }

            figure {
                height: 20em;
            }

            .info {
                padding-left: 3em;
                padding-right: 3em;
                height: 12em;
            }
        }
    }
}