menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        margin-left: 2em;

        a {
            display: block;
            padding: 0.3em 1.2em;
            text-decoration: none;
            border: 1px solid #0059d4;
            border-radius: 0.5em;
            color: #0059d4;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0059d4;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    menu {
        border: 1px solid #0059d4;

        li {
            display: block;
            margin-left: 0;

            a {
                padding-left: 0.7em;
                padding-right: 0.7em;
                width: 10em;
                border-width: 0 0 1px 0;
                border-radius: 0;
                background-color: #fff;
            }

            &:last-child a {
                border-bottom: 0;
            }
        }
    }
}