.socials {
    display: flex;
    margin: 0 0 0 2em;
    padding: 0;
    list-style: none;

    li {
        margin-right: 0.7em;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.7em;
            height: 1.7em;
            border: 1px solid #0059d4;
            border-radius: 50%;
            cursor: pointer;
            text-decoration: none;
            font-size: 1.2em;
            color: #0059d4;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0059d4;
                color: #fff;
            }
        }
    }
}